APP_ENV="local"

#Conections urls
DB_URL_SOLBEN_SABSA=""
DB_USER_SOLBEN_SABSA=""
DB_PASSWORD_SOLBEN_SABSA=""

DB_URL_SOLBEN_CM=""
DB_USER_SOLBEN_CM=""
DB_PASSWORD_SOLBEN_CM=""

DB_URL_IUNIX_SABSA=""
DB_USER_IUNIX_SABSA=""
DB_PASSWORD_IUNIX_SABSA=""

DB_URL_IUNIX_CM=""
DB_USER_IUNIX_CM=""
DB_PASSWORD_IUNIX_CM=""

#BASE DE DATOS PRODUCCION LIQUIDACION SABSA
DB_HOST_SABSA=""
DB_PORT_SABSA=""
DB_DATABASE_SABSA=""
DB_USERNAME_SABSA=""
DB_PASSWORD_SABSA=""

#BASE DE DATOS PRODUCCION LIQUIDACION COBERTURA MEDICA
DB_HOST_CM=""
DB_PORT_CM=""
DB_DATABASE_CM=""
DB_USERNAME_CM=""
DB_PASSWORD_CM=""