
DB_URL_SOLBEN_PROTECTA=
DB_USER_SOLBEN_PROTECTA=
DB_PASSWORD_SOLBEN_PROTECTA=

#BASE DE DATOS PRODUCCION LIQUIDACION PROTECTA
DB_URL_SILUX_PROTECTA=
DB_HOST_SILUX_PROTECTA=
DB_PORT_SILUX_PROTECTA=
DB_DATABASE_SILUX_PROTECTA=
DB_USER_SILUX_PROTECTA=
DB_PASSWORD_SILUX_PROTECTA=

#KEYS
SECRET_KEY=
API_KEY=