#DB_URL_SOLBEN_SEMEFA=""
#DB_USER_SOLBEN_SEMEFA=""
#DB_PASSWORD_SOLBEN_SEMEFA=""

#DB_URL_SILUX_SEMEFA=""
#DB_HOST_SILUX_SEMEFA=""
#DB_PORT_SILUX_SEMEFA=""
#DB_DATABASE_SILUX_SEMEFA=""
#DB_USER_SILUX_SEMEFA=""
#DB_PASSWORD_SILUX_SEMEFA=""

#KEYS
#SECRET_KEY="HSgcKVlg"
#API_KEY="dBGj6XLWfyK0xkScUpJTJjRx8z4vZ4bB"